html {
  margin: auto 10px;
  width: auto;
  height: 100%;
  overflow: hidden;
  background: #FFFCD0;
}

.app {
  height: 0;
  background: #FFFCD0;
}

q {
  font-size: 50px;
  color: white;
  text-shadow: 4px 4px black;

}

.helpScreen {
  position: absolute;
  width: 1000px;
  height: 250px;
  top: 40%;
  left: 15%;
  margin-left: -50px;
  margin-top: -25px;
  text-align: center;
}

.trackInfo {
  text-align: center;
  font-family: "Impact", sans-serif;
  color: black;
  text-shadow: 4px 4px white;
  font-weight: bolder;
}

.lyrics {
  position: fixed;
  width: 1000px;
  height: 250px;
  top: 25%;
  left: 15%;
  margin-left: -50px;
  text-align: center;
  font-style: oblique;
  font-weight: bold;
}

.link {
  text-align: center;
  position: fixed;
  color: #FFEFD5;
  bottom: 90px;
  left: 47.5%;
  font-style: normal;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  width: 350px;
  height: 350px;
}

.copyright {
  position: fixed;
  bottom: 0px;
  font-size: 10px;
  left: 36.5%;
  font-style: normal;
}
/*search bar*/
/*
.input-group{
  position: fixed;
  left: 30%;
  color: grey;
}
*/
.searchBar {
  position: fixed;
  left:39.5%;
  bottom: 50px;
}
